* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    gap: 12px;
}
.book-card {
    width: 300px;
    border-radius: 10px;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.author, .pages, .status {
    font-size: 16px;
    margin: 5px 0;
}
.id {
    font-size: 12px;
    margin: 5px 0;
}
.pages, .id {
    font-size: .8rem;
    color: #8D99AE;
}

.addNewBook {
    border-radius: 12px;
    padding: 8px 12px;
    color: #E1EEBC;
    background-color: #328E6E;
    font-weight: bolder;
    width: 100px;
    /* align-items: flex-end; */
    /* justify-content: center; */
    align-self: center;
}
.author::before {
    content: "by ";
}
.pages::before {
    content: "pages ";
}
.id::before {
    content: "ID: "
}


/* body styling */

/* testing purposes height only */


:root {
    --nav-height: 60px; /* Adjust as needed */
    --footer-height: 50px; /* Adjust as needed */
}

nav {
    height: var(--nav-height);
}

nav > ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
    padding: 12px;
    font-size: 1.2rem;
    background-color: #edf2f4;
    color: #2b2d42;
}

nav > ul > li {
    align-self: center;
}

nav > ul > li:nth-child(2) {
    font-size: 1.5rem;
    font-weight: bolder;
    letter-spacing: 2px;
}
nav > ul > li:nth-child(3) {
    /* color: red; */
    margin-left: auto;
}

a:link {
    text-decoration: none;
    color: #2b2d42;
}

.logo > a > img{
    width: 40px;
    height: auto;
}

.open-modal {
    padding-right: 16px;
}

.open-modal > button > img {
    width: 32px;
    height: auto;
    background-color: #edf2f4;
}
.open-modal > button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.container {
    background-color: #8D99AE;
    color: #2b2d42;
    font-size: 1.2rem;
    height: auto;
    min-height: calc(100vh - var(--nav-height) - var(--footer-height));    display: flex;
    padding: 12px;
    flex-wrap: wrap; /* Prevent vertical stretching */
    align-items: flex-start; /* Keep items at the top */
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2B2D42;
    color: #edf2f4;
    text-align: center;
    height: var(--footer-height);
    padding-top: 16px;
  }
.footer > a {
    color: #edf2f4;
} 